<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Apartamento</title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        h1 {
            text-align: center;
            color: #413d4b;
            font-size: 2em;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        input, textarea {
            margin-bottom: 20px;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid #ddd;
        }

        button {
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            border: none;
            background-color: #413d4b;
            color: white;
            cursor: pointer;
        }

        .foto-container {
            text-align: center;
            margin-bottom: 20px;
        }

        .foto-container img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Editar Apartamento</h1>
        <form action="/update_apartamento" method="post">
            <input type="hidden" name="id" value="{{apartamento.id}}">
            <div class="foto-container">
                {{#if apartamento.foto}}
                <img src="data:image/jpeg;base64,{{apartamento.foto}}" alt="Foto del apartamento">
                {{/if}}
            </div>
            <label for="numero">Número</label>
            <input type="text" id="numero" name="numero" value="{{apartamento.numero}}" required>

            <label for="piso">Piso</label>
            <input type="number" id="piso" name="piso" value="{{apartamento.piso}}" required>

            <label for="responsable">Responsable</label>
            <input type="text" id="responsable" name="responsable" value="{{apartamento.responsable}}" required>

            <label for="celular">Celular</label>
            <input type="text" id="celular" name="celular" value="{{apartamento.celular}}" required>

            <label for="correo">Correo</label>
            <input type="email" id="correo" name="correo" value="{{apartamento.correo}}" required>

            <button type="submit">Guardar Cambios</button>
        </form>
    </div>
</body>
</html>
